.card{
    border: 2px solid gray;
    border-radius: 10px;
    height: 230px;
    width: 340px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.paragraph {
    margin-left: 5px;
}
.name {
    margin-left: 5px
} 
.icon {
    margin-left: 5px;
    margin-top: 5px;
}