.containerFlex{
    background-color: black;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}
.logo {
    /* border: 1px solid red; */
    width: 250px
}
.containerEmpresa {
    font-family: 'Poppins', sans-serif;
    /* border: 1px solid green; */
    color: azure;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
} 
.lista {
    list-style-type: None;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 15px;
    /* border: 1px solid blue; */
    gap: 15px;
} .title {
    font-size: 20px;
} .containerFaleConosco {
    font-family: 'Poppins', sans-serif;
    color: azure;
    /* border: 1px solid yellow; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 250px;
    font-size: 15px;
    gap: 15px;
} .wpp {
    width: 50px;
} .text {
    text-align: center;
} .containerRedeSocial {
    color: azure;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
} .containerEmail {
    color: azure;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    /* border:1px solid red; */
}  .containerInput {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px

} .btEmail {
    background-color: azure;
    color: black;
    padding: 10px;
    border-radius: 8px;
    margin-left: 0;
    width: 150px;
} .btText{
    font-size: 20px;
} .inputEmail {
    padding: 8px;
    width: 300px;
    background-color: black;
    border-color: azure;
    border-radius: 8px;

} .titleEmail {
    font-size: 26px;
} .line {
    height: 2px;
    width: 80dvw;
    background-color: grey
} .containerCopyRight {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: azure;
    font-family: 'Poppins', sans-serif;
    gap: 15px;
    font-size: 15px;
    
} .navigation {
    text-decoration: none;
    color: azure;
} 
.navigation:visited {
    color: azure
} .navigation:hover {
   text-shadow: 0 0 8px white;
} 
@media (min-width: 1024px) {
    .containerFlex {
        background-color: black;
        /* border: 3px solid yellow; */
        min-height: 50dvh;
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-around;
        gap: 40px;
        flex-wrap: wrap;
        width: 100dvw;
        font-size: 15px;
    } .logo {
    /* border: 1px solid red; */
    margin-top: 30px;
    width: 150px;
    } .containerEmpresa {
        margin-top: 30px;
        /* border: 1px solid green; */
        width: 250px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;
   
}
.containerCopyRight {
    justify-self: flex-start;
    /* border: 1px solid blue; */
    width: 100dvw;
} .containerFaleConosco {
    margin-top: 30px;
} .containerRedeSocial {
    display: none;
} .line {
    height: 2px;
    width: 80dvw;
    background-color: grey
} .item {
    text-align: lef;
    width: 100%;
    font-size: 15px;
} .text {
    font-size: 15px;
} .divLogo {
    /* border: 1px solid pink; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px
} 
}